<!DOCTYPE html>
<html lang="en">
<style>
    div.inline {
        color: black;
        float: left;
        margin:5px;
        text-decoration: none;
        display: inline-block;
    }
    div.inline a {
        text-decoration: none;
    }
    div.inline a.active {
        color: white;
        padding: 10px;
        padding-bottom:3px;
        background-color: #92c8ff;
        border:1px solid #1a5db9;
        border-radius: 5px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>List company</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384
C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-secondary" onclick="window.history.back()"><- Back</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Main menu</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/jobs'">Jobs</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/listPaging'">Candidates</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/companies'">Companies</button>
<h1 class="text-center">COMPANIES</h1>
    <div style="width: fit-content;padding:5px;background-color: cornflowerblue; border-radius: 10px">
        <a href="/addCompany" style="color:white;text-decoration: none">Add a new Company</a>
    </div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Company Name</th>
        <th>Company Email</th>
        <th>Company Phone</th>
        <th>Company Address</th>
        <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company : ${companies}">
        <td th:text="${company.compName}"></td>
        <td th:text="${company.email}"></td>
        <td th:text="${company.phone}"></td>
        <td>
            <span th:text="${company.address.street}"></span>
            <span th:text="${company.address.city}"></span>
            <span th:text="${company.address.country.name}"></span>
            <span th:text="${company.address.number}"></span>
            <span th:text="${company.address.zipcode}"></span>
        </td>
        <td><a th:href="@{/seeCompanyDetail/{id}(id=${company.id})}">See detail</a></td>
    </tr>
    </tbody>
</table>
    <div class="inline" th:if="${companies.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/companies(size=${companies.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==companies.number + 1} ? active"></a>
    </div>
</div>
</body>
</html>