<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Job</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384
C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-secondary" onclick="window.history.back()"><- Back</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Main menu</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/jobs'">Jobs</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/listPaging'">Candidates</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/companies'">Companies</button>
<h1 class="text-center">ADD A JOB</h1>
<form action="#" th:action="@{/addJob}" th:object="${job}" method="post">
    <table>
        <tr>
            <td>Job Title:</td>
            <td><input type="text" th:field="*{jobName}" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea th:field="*{jobDesc}"></textarea></td>
        </tr>
        <tr>
            <td>Company:</td>
            <td>
                <select th:field="*{company.id}">
                    <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.id} + '. ' + ${company.compName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">Skills Requiring:</td>
        </tr>
        <tr th:each="i : ${#numbers.sequence(0, 4)}">
            <td>
                <select th:field="*{jobSkills[__${i}__].skill.id}">
                    <option value="">--Choose a skill--</option>
                    <option th:each="availableSkill : ${skills}" th:value="${availableSkill.id}" th:text="${availableSkill.skillName}"></option>
                </select>
            </td>
            <td>
                <select th:field="*{jobSkills[__${i}__].skillLevel}">
                    <option th:each="level : ${T(iuh.edu.vn.backend.enums.SkillLevel).values()}" th:value="${level}" th:text="${level}"></option>
                </select>
            </td>
            <td>
                <input type="text" th:field="*{jobSkills[__${i}__].moreInfos}" placeholder="More Infos" />
            </td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" type="submit">Add</button></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>